<!doctype html>
<!--[if lt IE 9]><html class="lte-ie8"><![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Code Club Catalunya{% if page.title != 'Home' %} | {{ page.title }}{% endif %}</title>
<meta property="og:description" content="Una xarxa de clubs de programació d'ordinadors per a nens i nenes">

    <meta name="description" content="Una xarxa de clubs de programació d'ordinadors per a nens i nenes">

    {% include open_graph_tags.html %}

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.min.js"></script>
    <![endif]-->

    <script>
      document.write(
        '<link rel="stylesheet" ' +
        'href="http://f.fontdeck.com/s/css/TFY2aUzEpRLcoEOhQR+42J6Ja8I/' +
        location.hostname +
        '/23203.css">'
      );
    </script>

    <link rel="stylesheet" href="/css/codeclubcat.css">
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
  </head>
  <body class="{% if page.path == 'index.html' %}home{% else %}not-home{% endif %}">

    <div class="row">
      <div class="twelve columns">

        <header class="row header" role="banner">

          <nav class="twelve columns navigation" role="navigation" id="nav">
            <ul class="main-menu">
	            <li {% if page.title == 'Notícies' %}class="active"{% endif %}>
                <a href="/blog">Notícies</a>
              </li>
              <li {% if page.title == 'Materials' %}class="active"{% endif %}>
                <a href="/materials">Materials</a>
              </li>
              <li {% if page.title == 'Què és això?' %}class="active"{% endif %}>
                <a href="/consells">Què és això?</a>
              </li>
              <li {% if page.title == 'EU Code Week' %}class="active"{% endif %}>
                <a href="/eu-codeweek/index.html">Code Week</a>
              </li>
	            <li {% if page.title == 'Code Club @ Biblioteques' %}class="active"{% endif %}>
                <a href="/biblioteques/index.html">Biblioteques</a>
              </li>
              <li {% if page.title == 'Contacte' %}class="active"{% endif %}>
                <a href="/contacte">Contacte</a>
              </li>
            </ul>
          </nav>

          <hgroup class="twelve columns">
            <h1 id="logo">
              <a href="/">
              <img src="/img/CodeClub_ES-CT-alt-social.png"
                   alt="Code Club Catalunya"
                   onerror="this.onerror=null; this.src='/img/CodeClub_ES-CT-social.png'"
                   id="logo"
                   width="260"
		               height="260">
              </a>
            </h1>
            <h2 class="nine centered columns">Una xarxa de clubs de programació d'ordinadors per a nens i nenes</h2>
          </hgroup>
        </header>


      </div>
    </div>

    {{ content }}


    <footer class="footer" role="contentinfo">
      <div class="row">
	<hr>
      </div>

      <div class="row">
	<h3>Codeclubcat als mitjans de comunicació</h3>
	<br/>
	      
	<div class="twelve columns">
	  <!--BadalonaTres30 TV -->
	  <div class="two columns">
	    <br />
	    <a href="http://bdncom.alacarta.cat/badalona-tres60/capitol/25-de-gener-de-2018" class="social-link">
	      <img src="http://www.alacarta.cat/api/assets/getFile/public/media/000/402/436/logo_capcelera_badalona360.jpg" alt="BadalonaTv: Programa Tres60" height="100" align="middle"/></a>
	  </div>
	  <!--El punt avui -->
	  <div class="two columns">
	    <br />
	    <a href="http://www.elpuntavui.cat/noticia/article/2-societat/16-educacio/701371-programar-es-de-criatures.html" class="social-link">
	      <img src="http://d1abj31dnwl5uq.cloudfront.net/templates/d2015/images/logo-elpuntavui-4.png" alt="El punt avui: Programar és de criatures" height="100" width="200" align="middle"/></a>
	  </div>
	  <!--TV3 comarques-->
	  <div class="one column">
	    <br />
	     <a href="http://www.324.cat/video/4908011/altres/Code-Club-a-lescola-de-Besalu" class="social-link">
	      <img src="http://statics.ccma.cat/img/logos/tv3_colorBgBlanc.svg" height="50" width="50" align="middle"/></a>
	  </div>
	  <!--El periodico-->
	  <div class="two columns">
	    <a href="http://www.elperiodico.com/es/noticias/educacion/padres-maestros-logran-que-escuela-ensene-programar-3316753" class="social-link">
	      <img src="http://upload.wikimedia.org/wikipedia/commons/4/4f/El_Peri%C3%B3dico_de_Catalunya_newspaper_logo.PNG" height="100" width="200" /></a>
	  </div>
	  <!-- el diario -->
	  <div class="two columns">
	    <a href="http://www.eldiario.es/hojaderouter/tecnologia/software/programacion-codigo-educacion-ninos-videojuegos_0_295020497.html" class="social-link">
	      <img src="http://static2.eldiario.es/static/EDIDiario/images/logo-contrib.jpg?hash=ecd91ab95a9dfdf43124490af77c74b2"  height="100" width="200" align="middle"></a>
	  </div>
	  <!-- tv badalona-->
	  <div class="two columns">
	    <a href="http://youtu.be/ICxIOsLUXQg" class="social-link">
	      <img src="http://www.teleb.cat/logos/teleb.png" alt="Televisió de Badalona" height="200" width="200"/></a>
	  </div>
	</div>

	<div class="twelve columns">
	  <!-- radio mataro-->
	  <div class="two columns">
	    <a href="http://mataroradio.cat/mataronoticies/cultura/noticia/la-biblioteca-antoni-comas-far-tallers-de-programaci-inform-tica" class="social-link">
	      <img src="http://mataroradio.cat/sites/default/files/disseny_logo.png" alt="Radio Mataró" height="200" width="200"/></a>
	  </div>
	  <!-- El 9,-->
	  <div class="two columns">
	    <a href="/img/diari_nou.pdf" class="social-link">
	      <img src="/img/diari_nou.png" alt="Radio Mataró" height="200" width="200"/></a>
	  </div>
	  <!-- Diari de Tarragona,-->
	  <div class="two columns">
	    <a href="/img/diari_tarragona.pdf" class="social-link">
	      <img src="/img/diari_tarragona.png" alt="Diari Tarragona" height="200" width="200"/></a>
	  </div>

	  <!-- Tv OLOT,-->
	  <div class="two columns">
	    <a href="http://olottv.xiptv.cat/les-noticies/capitol/els-alumnes-de-cinque-de-lescola-llar-dolot-sespecialitzen-en-coneixement-tecnologic-i-sendinsen-en-la-programacio-robotica-amb-el-code-club#.VIkcHapfjl4.gmail" class="social-link">
	      <img src="/img/olot_televisio.png" alt="Olot Televisió" height="200" width="200"/></a>
	  </div>

	  <!-- INFO K-->
	  <div class="one column">
	    <a href=" http://www.super3.cat/infok/videos/5393211/Taller-dinformatica-a-les-biblioteques/" class="social-link">
	      <img src="/img/infok.png" alt="Info K" height="100" width="100"/></a>
	  </div>

	  <!-- Diari Ara-->
	  <div class="two columns">
	    <a href=" /img/criatures_ara_100115.pdf" class="social-link">
	      <img src="/img/ara_criatures.png" alt="Diari Ara" height="100" width="100"/></a>
	  </div>

	  <!--El Mundo -->
	  <div class="one column">
	    <br />
	    <a href="http://www.impulsodigital.elmundo.es/economia-digital/la-programacion-asignatura-pendiente-del-colegio" class="social-link">
	      <img src="http://rachelbotsman.com/wp/wp-content/uploads/2015/03/El-Mundo-logo-860x544.png" alt="El mundo: Impulso digital" height="100" align="middle"/></a>
	  </div>
	</div>
	
	  <hr>
	</div>
      </div>

      <div class="row">
        <div class="twelve columns">
          <div class="row">
            <div class="four columns">
              <p class="useful-links">
                <a href="https://twitter.com/codeclubcat" class="social-link">
                  <img alt="Twitter" height="35" src="http://www.codeclub.org.uk/system/files/032013/514af7939d200f0f4000001a/icon/twitter.png" width="35"> Twitter
                </a>
              </p>
            </div>
          <div class="three columns">
              <div class="wrap">
                <p class="useful-links">
                   Enllaços útils<br>
                  <a href="https://scratch.mit.edu/scratch2download/">Baixeu-vos l'Scratch 2</a><br>
                  <a href="https://github.com/codeclubcat">Code Club Catalunya al Github</a><br>
                  <!--<a href="http://codeclub-assets.s3.amazonaws.com/public/CodeClubWorld-Terms-of-Service-v1-clean.pdf">Terms of Service</a><br>-->
                  <a href="http://codeclub.org.uk/">Code Club UK</a><br>
                  <a href="http://codeclubworld.org/">Code Club World</a><br>
                </p>
              </div>

          </div>


        </div>


        </div>


      </div>
	  
      <div class="row">
        <p class="legal">
		Amb el suport econòmic de: </ br>
	        <img src="/img/logos_suport-codeclub-2020.png" alt"logo finançadors" title="logo finançadors">	
	</p>		
      </div>
	

      <div class="row">
        <p class="legal">
          Code Club és un projecte sense ànim de lucre amb l'objectiu de donar la oportunitat a tots els nens a aprendre a programar.
          &copy; Raspberry Pi Foundation. UK Registered Charity 1129409. 2013-2018.
          Partner local de Code Club a Catalunya és <a href="http://colectic.coop">Colectic</a><br>
        </p>
      </div>
    </footer>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40511561-2', 'codeclubcat.org');
  ga('send', 'pageview');

</script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/1.1.16/parsley.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/js/libs/infobox.js"></script>
    <script src="/js/libs/jquery.serialize-hash.js"></script>
    <script src="/js/libs/marker-clusterer.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
